In [540]:
# This file analyzes data from an exoplanet data csv file and creates graphs based on the analysis.
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

#UNIT CONVERSIONS TO SI 
"""
Days * 86400 Seconds/Day
EarthRadius * 6.378e+6 Meters/EarthRadius
EarthMass * 5.972e+24 Kilogram/EarthMass
"""

#CONSTANTS
Kb = 1.380649e-23 # Boltzmann Constant (Joules/Kelvin)
mu = 4.8e-26 # Average mass of gas particle on Earth (Kilograms)
G = 6.67428e-11 # Gravitational Constant (m^3 * Kg^-1 * s^-2)
A = 0.3 # Bond Albedo
Gf = 15 # Greenhouse factor

In [476]:
pd.read_csv("ExoplanetData.csv")

,pl_name,pl_orbper,pl_orbsmax,pl_rade,pl_bmasse,pl_bmassprov,pl_orbeccen,pl_eqt,st_rad,st_mass,st_logg,rastr,ra,decstr,dec,sy_dist
0,11 Com b,NaN,1.210,NaN,5434.70000,Msini,NaN,NaN,NaN,2.60,NaN,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846
1,11 Com b,326.03000,1.290,NaN,6165.60000,Msini,0.231,NaN,19.00,2.70,2.31,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846
2,11 Com b,323.21000,1.178,NaN,4914.89849,Msini,0.238,NaN,13.76,2.09,2.45,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846
3,11 UMi b,516.21997,1.530,NaN,4684.81420,Msini,0.080,NaN,29.79,2.78,1.93,15h17m05.90s,229.274595,+71d49m26.19s,71.823943,125.3210
4,11 UMi b,NaN,1.510,NaN,3432.40000,Msini,NaN,NaN,NaN,1.70,NaN,15h17m05.90s,229.274595,+71d49m26.19s,71.823943,125.3210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36552,ups And d,1319.00000,2.570,NaN,1255.38000,Msini,0.269,NaN,NaN,NaN,NaN,01h36m47.60s,24.198353,+41d24m13.73s,41.403815,13.4054
36553,ups Leo b,385.20000,1.180,NaN,162.09249,Msini,0.320,NaN,11.22,1.48,2.46,11h36m56.93s,174.237219,-00d49m24.83s,-0.823564,52.5973
36554,xi Aql b,NaN,0.580,NaN,642.00000,Msini,NaN,NaN,NaN,1.40,NaN,19h54m14.99s,298.562449,+08d27m39.98s,8.461105,56.1858
36555,xi Aql b,136.75000,0.680,NaN,890.00000,Msini,0.000,NaN,12.00,2.20,2.66,19h54m14.99s,298.562449,+08d27m39.98s,8.461105,56.1858
36556,xi Aql b,136.97000,0.625,NaN,616.90494,Msini,0.059,NaN,10.86,1.74,2.61,19h54m14.99s,298.562449,+08d27m39.98s,8.461105,56.1858

In [534]:
df = pd.read_csv("ExoplanetData.csv")

# filtering data to have only mass, radius, and effective temperature viable dataset
df.dropna(subset=['pl_rade'], inplace=True)
df.dropna(subset=['pl_bmasse'], inplace=True)
df.dropna(subset=['pl_eqt'], inplace=True)
df.reset_index(inplace=True)
print(df)

      index                  pl_name  pl_orbper  pl_orbsmax  pl_rade  \
0        30  1RXS J160929.1-210524 b        NaN   330.00000   18.647
1       118                 55 Cnc e   0.736544     0.01544    2.080
2       167                 AU Mic b   8.463000     0.06450    4.070
3       175                 AU Mic c  18.859019     0.11010    3.240
4       193              BD+20 594 b  41.685500     0.24100    2.230
...     ...                      ...        ...         ...      ...
1548  36418                   XO-7 b   2.864142     0.04421   15.390
1549  36441                bet Pic b        NaN     8.90000   16.800
1550  36442                bet Pic b        NaN         NaN   18.495
1551  36506                 pi Men c   6.267900     0.06839    2.042
1552  36509                 pi Men c   6.268340     0.06702    2.060

       pl_bmasse pl_bmassprov  pl_orbeccen  pl_eqt  st_rad  st_mass  st_logg  \
0     2543.00000         Mass          NaN  1800.0    1.35     0.85      NaN
1        7.81000         Mass        0.061  1958.0    0.94     0.91     4.45
2       17.00000         Mass        0.000   593.0    0.75     0.50      NaN
3       13.60000         Mass        0.000   454.0    0.75     0.50      NaN
4       16.30000         Mass        0.000   546.0    0.93     0.96     4.50
...          ...          ...          ...     ...     ...      ...      ...
1548   225.34147         Mass        0.038  1743.0    1.48     1.41     4.25
1549  6356.00000         Mass          NaN  1650.0    1.54     1.95     4.35
1550  2224.81000         Mass          NaN  1612.0     NaN      NaN      NaN
1551     4.82000         Mass        0.000  1170.0    1.10     1.09     4.42
1552     4.52000         Mass        0.000  1147.0    1.10     1.02     4.36

             rastr          ra         decstr        dec   sy_dist
0     16h09m30.30s  242.376234  -21d04m59.31s -21.083140  139.1350
1     08h52m35.24s  133.146837  +28d19m47.34s  28.329815   12.5855
2     20h45m09.87s  311.291137  -31d20m32.82s -31.342450    9.7221
3     20h45m09.87s  311.291137  -31d20m32.82s -31.342450    9.7221
4     03h34m36.27s   53.651123  +20d35m56.47s  20.599021  179.4610
...            ...         ...            ...        ...       ...
1548  18h29m54.74s  277.478075  +85d13m59.95s  85.233321  234.1490
1549  05h47m17.10s   86.821234  -51d03m58.13s -51.066148   19.7442
1550  05h47m17.10s   86.821234  -51d03m58.13s -51.066148   19.7442
1551  05h37m11.83s   84.299280  -80d27m52.57s -80.464604   18.2702
1552  05h37m11.83s   84.299280  -80d27m52.57s -80.464604   18.2702

[1553 rows x 17 columns]

In [542]:
# converting data to have SI units (only run once)
df['pl_rade'] = df['pl_rade'].mul(6.378e+6)
df['pl_bmasse'] = df['pl_bmasse'].mul(5.972e+24)
atmospheric_t = Gf*df['pl_eqt']
print(df['pl_rade'])
print(df['pl_bmasse'])
print(surface_t)

0       7.585391e+14
1       8.461208e+13
2       1.655631e+14
3       1.317996e+14
4       9.071391e+13
            ...
1548    6.260480e+14
1549    6.834053e+14
1550    7.523560e+14
1551    8.306628e+13
1552    8.379850e+13
Name: pl_rade, Length: 1553, dtype: float64
0       9.069555e+52
1       2.785420e+50
2       6.063013e+50
3       4.850411e+50
4       5.813360e+50
            ...
1548    8.036755e+51
1549    2.266854e+53
1550    7.934737e+52
1551    1.719043e+50
1552    1.612048e+50
Name: pl_bmasse, Length: 1553, dtype: float64
0       2160.0
1       2349.6
2        711.6
3        544.8
4        655.2
         ...
1548    2091.6
1549    1980.0
1550    1934.4
1551    1404.0
1552    1376.4
Name: pl_eqt, Length: 1553, dtype: float64

In [544]:
escape_v = np.sqrt(2*G* df['pl_bmasse']/df['pl_rade'])
thermal_v = np.sqrt(3*Kb*atmospheric_t/mu)
velocities = pd.concat([escape_v,thermal_v],axis=1)
velocities.rename(columns={0:'escape_v','pl_eqt':'thermal_v'}, inplace=True) 

print(velocities)

potentially_viable_planets=[]
for index,row in velocities.iterrows():
    if row['thermal_v']<row['escape_v']:
        potentially_viable_planets.append(index)
print(len(potentially_viable_planets))

          escape_v    thermal_v
0     1.263343e+14  4826.846991
1     2.096266e+13  5034.236606
2     2.210954e+13  2770.477492
3     2.216407e+13  2424.126091
4     2.924784e+13  2658.420032
...            ...          ...
1548  4.139556e+13  4749.807108
1549  2.104213e+14  4621.354154
1550  1.186511e+14  4567.828588
1551  1.662066e+13  3891.528455
1552  1.602463e+13  3853.088538

[1553 rows x 2 columns]
1553